.virat-kohli4 {
  position: absolute;
  top: 10px;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 215px;
}
.ellipse-icon {
  position: absolute;
  top: 14px;
  left: 0;
  border-radius: 50%;
  width: 35px;
  height: 34px;
  object-fit: cover;
}
.logo-placeholder4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 591.3px;
  height: 60px;
  overflow: hidden;
}
.group-div {
  position: relative;
  width: 591.3px;
  height: 60px;
  z-index: 2;
}
.menu-items3 {
  width: 0;
  z-index: 1;
}
.menu17 {
  position: relative;
}
.frame-2defaultregular3,
.menu-wrapper8 {
  padding: var(--padding-base) var(--padding-xl);
}
.frame-2defaultregular3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu-wrapper8 {
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  color: var(--color-white);
}
.frame-2defaultregular-parent1,
.group-root,
.menu-wrapper8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-2defaultregular-parent1 {
  z-index: 0;
  font-size: var(--font-size-xs);
}
.group-root {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  text-align: center;
  font-size: var(--font-size-14xl);
  color: var(--color-black);
  font-family: var(--h1);
}
