body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --h1: Inter;

  /* font sizes */
  --h1-size: 50px;
  --font-size-xs: 12px;
  --body-size: 16px;
  --font-size-14xl: 33px;
  --font-size-mid: 17px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-blueviolet: #9747ff;

  /* Paddings */
  --padding-base: 16px;
  --padding-xl: 20px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-base: 16px;
  --br-8xs: 5px;
}
