.virat-kohli3 {
  position: absolute;
  top: 10px;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 215px;
}
.property-1default-child {
  position: absolute;
  top: 14px;
  left: 0;
  border-radius: 50%;
  width: 35px;
  height: 34px;
  object-fit: cover;
}
.property-1default1 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 260px;
  height: 60px;
  overflow: hidden;
}
.logo-placeholder3 {
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-14xl);
  color: var(--color-black);
  font-family: var(--h1);
}
